{% extends 'base.html.twig' %}

{% block title %}Bande index{% endblock %}

{% block body %}
    <h1>Bande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nb_poussins</th>
                <th>Date_debut</th>
                <th>Nb_mortalite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bande in bandes %}
            <tr>
                <td>{{ bande.id }}</td>
                <td>{{ bande.nbPoussins }}</td>
                <td>{{ bande.dateDebut ? bande.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ bande.nbMortalite }}</td>
                <td>
                    <a href="{{ path('app_bande_show', {'id': bande.id}) }}">show</a>
                    <a href="{{ path('app_bande_edit', {'id': bande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bande_new') }}">Create new</a>
{% endblock %}
