{% extends 'base.html.twig' %}

{% block title %}Bande
{% endblock %}

{% block body %}
	<h1>Bande du
		{{ bande.dateDebut|date('Y-m-d') }}</h1>
	<a href="{{ path('app_bande_edit', {'id': bande.id}) }}">
		<i class="fa-solid fa-pen-to-square"></i>
	</a>

	<table role="grid" class="table">
		<tbody>
			<tr>
				<th>Nb_poussins</th>
				<td>{{ bande.nbPoussins }}</td>
			</tr>
			<tr>
				<th>Stock</th>
				<td>
					<u>{{ stock }}</u>
				</td>
			</tr>
			<tr>
				<th>Date_debut</th>
				<td>{{ bande.dateDebut|date('Y-m-d') }}</td>
			</tr>
			<tr>
				<th>Nb_mortalite</th>
				<td>{{ bande.nbMortalite }}</td>
			</tr>
		</tbody>
	</table>


	<h2>Depenses</h2>
	<a href="{{ path('app_depense_new') }}">
		<i class="fa-solid fa-plus"></i>
	</a>
	<table role="grid" class="table">
		<tbody>
			<tr>
				<th>Description</th>
				<td>Prix</td>
				<td>Actions</td>
			</tr>
			{% for depense in bande.depenses %}
				<tr>
					<th>{{ depense.description }}</th>
					<td>{{ depense.prix }}
						FCFA</td>
					<td>
						<a href="{{path('app_depense_edit', {id: depense.id})}}">Edit<a/></td>
					</td>
				</tr>
			{% endfor %}
			<tr>
				<th>Total</th>
				<td>
					<mark>
						{{totalDepense}}
						FCFA
					</mark>
				</td>
			</tr>
		</tbody>
	</table>


	<h2>Ventes</h2>
	<a href="{{ path('app_vente_new') }}">
		<i class="fa-solid fa-plus"></i>
	</a>
	<table role="grid" class="table">
		<tbody>
			<tr>
				<th>Quantite</th>
				<td>Prix</td>
				<td>Actions</td>
			</tr>
			{% for vente in bande.ventes %}
				<tr>
					<th>{{ vente.quantite }}</th>
					<td>{{ vente.prix }}
						FCFA</td>
					<td>
						<a href="{{path('app_vente_edit', {id: vente.id})}}">Edit<a/></td>
					</td>
				</tr>
			{% endfor %}
			<tr>
				<th>Total</th>
				<td>
					<mark>
						{{totalVente}}
						FCFA
					</mark>
				</td>
			</tr>
		</tbody>
	</table>

	<h2>Bilan:</h2>
	<mark>
		{{bilan}}
		FCFA
	</mark>

	{# <a href="{{ path('app_bande_index') }}">back to list</a>
								
									{{ include('bande/_delete_form.html.twig') }} #}
{% endblock %}
