{% extends 'base.html.twig' %}

{% block title %}Bande
{% endblock %}

{% block body %}
	<h1>Bande du
		{{ bande.dateDebut|date('Y-m-d') }}</h1>
	<a href="#" data-target="modal-edit-bande" onclick="toggleModal(event)">
		<i class="fa-solid fa-pen-to-square"></i>
	</a>

	<table role="grid" class="table">
		<tbody>
			<tr>
				<th>Nombre de poussins</th>
				<td>{{ bande.nbPoussins }}</td>
			</tr>
			<tr>
				<th>Date démarrage</th>
				<td>{{ bande.dateDebut|date('Y-m-d') }}</td>
			</tr>
			<tr>
				<th>Mortalités</th>
				<td>{{ bande.nbMortalite }}</td>
			</tr>
			<tr>
				<th>Quantité en stock</th>
				<td>
					<mark>{{ stock }}</mark>
				</td>
			</tr>
			<tr>
				<th>Bilan</th>
				<td>
					<mark>
						{{bilan}}
						FCFA
					</mark>
				</td>
			</tr>
		</tbody>
	</table>


	<h2>Dépenses</h2>
	<a href="#" data-target="modal-add-depense" onclick="toggleModal(event)">
		<i class="fa-solid fa-plus"></i>
	</a>
	<table role="grid" class="table">
		<tbody>
			<tr>
				<th>Description</th>
				<td>Prix</td>
				<td>Actions</td>
			</tr>
			{% for depense in bande.depenses %}
				<tr>
					<th>{{ depense.description }}</th>
					<td>{{ depense.prix }}
						FCFA</td>
					<td class="actions">
						<a href="{{ path('app_depense_edit', {'id': depense.id}) }}" role="button" class="outline">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
						{{ include('depense/_delete_form.html.twig') }}
					</td>
				</tr>
			{% endfor %}
			<tr>
				<th>Total</th>
				<td>
					<mark>
						{{totalDepense}}
						FCFA
					</mark>
				</td>
			</tr>
		</tbody>
	</table>


	<h2>Ventes</h2>
	<a href="#" data-target="modal-add-vente" onclick="toggleModal(event)">
		<i class="fa-solid fa-plus"></i>
	</a>
	<table role="grid" class="table">
		<tbody>
			<tr>
				<th>Quantité (Nombre de poulets)</th>
				<td>Prix</td>
				<td>Actions</td>
			</tr>
			{% for vente in bande.ventes %}
				<tr>
					<th>{{ vente.quantite }}</th>
					<td>{{ vente.prix }}
						FCFA</td>
					<td class="actions">
						<a href="{{ path('app_vente_edit', {'id': vente.id}) }}" role="button" class="outline">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
						{{ include('vente/_delete_form.html.twig') }}
					</td>
				</tr>
			</tr>
		{% endfor %}
		<tr>
			<th>Total</th>
			<td>
				<mark>
					{{totalVente}}
					FCFA
				</mark>
			</td>
		</tr>
	</tbody>
</table>

<h2>Bilan:</h2>
<mark>
	{{bilan}}
	FCFA
</mark>

{# <a href="{{ path('app_bande_index') }}">back to list</a>
																		
																			{{ include('bande/_delete_form.html.twig') }} #}


<!-- Modal -->
<dialog id="modal-edit-bande">
	<article>
		<a href="#close" aria-label="Close" class="close" data-target="modal-edit-bande" onclick="toggleModal(event)"></a>
		<h3>Editer les infos de la bande!</h3>
		{{ include('bande/_form.html.twig', {'button_label': 'Editer'}) }}
	</article>
</dialog>

<!-- Modal -->
<dialog id="modal-add-depense">
	<article>
		<a href="#close" aria-label="Close" class="close" data-target="modal-add-depense" onclick="toggleModal(event)"></a>
		<h3>Renseigner une nouvelle dépense!</h3>
		{{ include('depense/_form.html.twig') }}
	</article>
</dialog>

<!-- Modal -->
<dialog id="modal-add-vente">
	<article>
		<a href="#close" aria-label="Close" class="close" data-target="modal-add-vente" onclick="toggleModal(event)"></a>
		<h3>Renseigner une nouvelle vente!</h3>
		{{ include('vente/_form.html.twig') }}
	</article>
</dialog>{% endblock %}
