<table class="table">
    <tbody>
    <tr>
        <th>Quantité (nombre de poulets)</th>
        <td>{{ vente.quantite }}</td>
    </tr>
    <tr>
        <th>Prix total</th>
        <td>{{ vente.prix }} FCFA</td>
    </tr>
    <tr>
        <th>Client</th>
        <td>{{ vente.client }}</td>
    </tr>
    {% if  vente.description is not empty %}
        <tr>
            <th>Details sur la vente</th>
            <td>
                <blockquote>
                    {{ vente.description }}
                </blockquote>
            </td>
        </tr>
    {% endif %}
    <tr>
        <th>Créée le</th>
        <td>{{ vente.createdAt ? vente.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") : '' }}</td>
    </tr>
    </tbody>
</table>

