{% extends 'base.html.twig' %}

{% block title %}Depense{% endblock %}

{% block body %}
    <h1>Depense</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ depense.id }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ depense.description }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ depense.prix }}</td>
        </tr>
        <tr>
            <th>Created_at</th>
            <td>{{ depense.createdAt ? depense.createdAt|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_depense_index') }}">back to list</a>

    <a href="{{ path('app_depense_edit', {'id': depense.id}) }}">edit</a>

    {{ include('depense/_delete_form.html.twig') }}
{% endblock %}