{% extends 'base.html.twig' %}

{% block title %}Depense hors bande{% endblock %}

{% block body %}
    <h1>Depense hors bande</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Description</th>
            <td>{{ depense.description }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ depense.prix }}</td>
        </tr>
        <tr>
            <th>Date de la depense</th>
            <td>{{ depense.createdAt ? depense.createdAt|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_depense_index') }}">Retour a la liste hors bande</a>

    <a href="{{ path('app_depense_edit', {'id': depense.id}) }}">Modifier la depense</a>

    {{ include('depense/_delete_form.html.twig') }}
{% endblock %}